/*==========================================
        SCROLL REVEAL
==========================================*/

.reveal{

    opacity:0;

    transform:translateY(70px);

    transition:

        opacity .9s ease,

        transform .9s cubic-bezier(.23,1,.32,1);

    will-change:transform,opacity;

}

.reveal.active{

    opacity:1;

    transform:translateY(0);

}

/*==========================================
        LEFT
==========================================*/

.reveal-left{

    opacity:0;

    transform:translateX(-80px);

    transition:.9s cubic-bezier(.23,1,.32,1);

}

.reveal-left.active{

    opacity:1;

    transform:none;

}

/*==========================================
        RIGHT
==========================================*/

.reveal-right{

    opacity:0;

    transform:translateX(80px);

    transition:.9s cubic-bezier(.23,1,.32,1);

}

.reveal-right.active{

    opacity:1;

    transform:none;

}

/*==========================================
        SCALE
==========================================*/

.reveal-scale{

    opacity:0;

    transform:scale(.92);

    transition:.8s;

}

.reveal-scale.active{

    opacity:1;

    transform:scale(1);

}